<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ButtonFansMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.ButtonFans">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="Fans_id" jdbcType="INTEGER" property="fansId" />
  </resultMap>
</mapper>